.App {
  text-align: center;
  width: calc(100vw - 15px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  color: #fff;
}

.App p {
  color: #fff;
  font-size: 1rem;
}

.App a {
  color: #fff;
  font-size: 0.875rem;
}

.App ul {
  margin-top: 30px;
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  border-radius: 5px;
}

.App ul li {
  margin: 5px 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.App button.noFilter {
  width: auto;
  padding: 8px 12px;
  margin: 20px auto 10px auto;
  background-color: #2193F3;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
